/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: sans-serif;
    padding-top: 100px;
}

img {
    display: block;
    max-width: 100%;
}


/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

.row {
    display: flex;
    gap: 10px;

}

.col {
    flex-basis: calc(100% / 3 );
    min-height: 200px;
    position: relative;

}



.top-header {
    height: 80px;
    background-color: orangered;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.red {
    color: red;
}

.bar {
    text-decoration: line-through;
}

.favourite {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: whitesmoke;
    color: black;
    padding: 5px 8px;
    font-size: 22px;
}

.discount {
    position: absolute;
    left: 0;
    bottom: 100px;
    background-color: red;
    color: whitesmoke;
    padding: 5px 13px;
    font-size: 15px;
}

.sustain {
    position: absolute;
    left: 70px;
    bottom: 100px;
    background-color: green;
    color: whitesmoke;
    padding: 5px 13px;
    font-size: 15px;
}



